
@{
}

@model Character

<h1> Create a new character</h1>


<form asp-controller="Character" asp-action="CreateCharacters" method="post">

	<div asp-validation-summary="All"></div>

	<label for="firstName">First Name:</label>
	<input type="text" id="firstName" name="firstName" asp-for="firstName" />

	<label for="description">Description:</label>
	<input type="text" id="description" name="description" asp-for="description" />

	<label for="comment">Comment:</label>
	<input type="text" id="comment" name="comment" asp-for="comment" />

	<input type="submit" value="Submit"/>

</form>
